<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
            <nav>
                <% if (authenticationToken) { %>
                <a href="/create-post">Create Post</a>
                <a href="/logout">Log out</a>
                <% } else { %>
                <a href="/login">Sign in</a>
                <% } %>
            </nav>
        </header>
        <main>
            <h3>Your post</h3>
            <% if (posts.length) { posts.forEach(post => { %>
            <fieldset>
                <legend><%= post.post_title %></legend>
                <a href="/post/<%= post.post_id %>"><%= post.post_content %></a>
            </fieldset>
            <% }); } else { %>
            <p>You haven't post anything yet</p>
            <% }%>
        </main>

        <%- include("includes/footer") %>
    </body>
</html>
