<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
        </header>

        <main>
            <form action="/post/edit/<%= post.post_id %>" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <% postCreationValidationError.forEach(error => { %>
                <p class="notice"><%= error %></p>
                <% }); %>

                <fieldset>
                    <legend>Edit your post</legend>
                    <label for="post_title"><small>Title</small></label>
                    <input
                        type="text"
                        id="post_title"
                        name="post_title"
                        autocomplete="off"
                        value="<%= post.post_title || '' %>"
                    />
                    <label for="post_content"><small>Post content</small></label>
                    <textarea
                        type="textarea"
                        id="post_content"
                        name="post_content"
                        autocomplete="off"
                    ><%= post.post_content || '' %></textarea>
                    <br />
                    <button type="submit">Save changes</button>
                </fieldset>
            </form>
        </main>

        <%- include("includes/footer") %>
    </body>
</html>
