<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
        </header>

        <main>
            <form action="/edit-post" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <% postCreationValidationError.forEach(error => { %>
                <p class="notice"><%= error %></p>
                <% }); %>

                <fieldset>
                    <legend>Post details</legend>
                    <h4><%= post.post_title %></h4>
                    <p><%= post.post_content %></p>
                    <a href="/edit-post/<%= post.post_id %>" class="button">Edit Post</a>
                    <button type="submit">Delete Post</button>
                </fieldset>
            </form>
        </main>

        <%- include("includes/footer") %>
    </body>
</html>
