<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
        </header>

        <main>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <% postCreationValidationError.forEach(error => { %>
            <p class="notice"><%= error %></p>
            <% }); %>

            <fieldset>
                <legend>Post details</legend>
                <h4><%= post.post_title %></h4>
                <p><%= post.post_content %></p>
                <a href="/post/edit/<%= post.post_id %>" class="button"
                    >Edit Post</a
                >
                <form action="/post/delete/<%= post.post_id %>" method="POST">
                    <button type="delete">Delete Post</button>
                </form>
            </fieldset>
        </main>

        <%- include("includes/footer") %>
    </body>
</html>
